.card {
  height: 100%;
  margin-bottom: 1rem;
  overflow: hidden;
  background-color: transparent;
  border-color: transparent;
  transition: all 0.3s;
}
.cardText {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.cardLink {
  color: inherit !important;
  text-decoration: inherit !important;
}
.cardLink:hover .card {
  background: #0000001f;
}
